<h1>Simple Todo Lists</h1>
<h2>From Ruby Garage</h2>

<div class="todo-widget" ng-repeat="project in projects">
    <div class="todo-widget-header">
        <a href="javascript:void(0)" class="icon calendar"></a>
        <div class="title">{{project.name}}</div>
        <a href="javascript:void(0)" class="icon pencil"></a>
        <a href="javascript:void(0)" class="icon trash"></a>
    </div>
    <div class="todo-widget-add">
        <a href="javascript:void(0)" class="icon add"></a>
        <input type="text" placeholder="Start typing here to create a task" />
        <button class="btn add-on btn-success">Add Task</button>
    </div>
    <table class="todo-widget-list">
    <tbody>
        <tr ng-repeat="task in project.tasks">
            <td class="checkbox"><input type="checkbox" /></td>
            <td class="text">{{task.text}}</td>
            <td class="actions">
                <a href="javascript:void(0)" class="icon drag"></a> |
                <a href="javascript:void(0)" class="icon pencil"></a> |
                <a href="javascript:void(0)" class="icon trash"></a>
            </td>
        </tr>
    </tbody>
    </table>
</div>

<div class="todo-add-list">
    <button class="btn-large btn-primary">Add TODO List</button>
</div>

<div class="copyright">&copy; Ruby Garage</div>
