<h1>Simple Todo Lists</h1>
<h2>From Ruby Garage</h2>

<div class="todo-widget" ng-repeat="project in projects">
    <div class="todo-widget-header">
        <div class="action calendar">[Icon]</div>
        <div class="title">{{project.name}}</div>
        <div class="action delete">[Delete]</div>
        <div class="action rename">[Rename]</div>
    </div>
    <div class="form-inline todo-widget-add">
        <a href="javascript:void(0)">[Add]</a>
        <input type="text" placeholder="Start typing here to create a task"></input>
        <button class="btn btn-success">Add Task</button>
    </div>
    <table class="todo-widget-list">
    <tbody>
        <tr ng-repeat="task in project.tasks">
            <td style="width: 2em;"><input type="checkbox"></input></td>
            <td>{{task.text}}</td>
            <td style="width: 15em;">[Drag] | [Edit] | [Delete]</td>
        </tr>
    </tbody>
    </table>
</div>

<div class="todo-add-list">
    <button class="btn-large btn-primary">Add TODO List</a>
</div>

<div class="copyright">&copy; Ruby Garage</div>