@import "compass/reset";

@import "bootstrap";
@import "bootstrap-responsive";
@import "jquery_ui_no_theme";
@import "angular_ui";

html {
  background-color: #323232;
  background-image: url(img/background.png);
  background-repeat: repeat-x;
}

body {
	background: none;
	text-align: center;
}

h1, h2 {
	text-transform: uppercase;
	padding: 0;
}

h1 {
	font-size: 28px;
	line-height: 100%;
	margin: 50px 0 0 0;
	letter-spacing: 1px;
}

h2 {
	margin-top: 0;
	font-size: 16px;
	font-weight: lighter;
}

.todo-widget {
	margin: 2em auto;
	width: 700px;
	border-radius: 0 0 20px 20px;
	overflow: hidden;

	& > div {
		display: table;
	}
}

.todo-widget-header {
	width: 100%;
	height: 50px;

    border: solid 1px #315589;
	background-color: #446FAE;
	background-image: url(img/cloth.png);
    background-repeat: repeat-x;
	color: white;

	div, .icon {
		display: table-cell;
	    vertical-align: middle;
	}

	.icon {
	    width: 3em;
	}

    .icon:last-child {
        border-left: solid 1px #5284bf;
    }

    .pencil, .trash {
        display: none;
    }

	.title { text-align: left; }

    &:hover {
        .pencil, .trash {
            display: table-cell;
        }
    }
}

.todo-widget-add {
    position: relative;
	background-image: url(img/metal.png);
    background-repeat: repeat-x;
	width: 100%;
	height: 49px;
    border-bottom: solid 1px #aaa;

    & > * {
        position: absolute;
        top: 8px;
    }
    
    input, .btn, .icon {
        //height: 28px;
    }

    .btn { 
        right: 11px;
        width: 106px;
        border-radius: 0 4px 4px 0;
    }

	.icon {
        left: 0;
        top: 0;
        width: 51px;
        height: 100%;
    }

	input {
        left: 51px;
        right: 115px;
        width: auto;
        border-radius: 0;
    }
}

.todo-widget-list {
    color: #999999;
	background-color: #fff;
	width: 100%;
    
    td {
        height: 48px;
        border-bottom: solid 1px #e7ebea;
        font-size: 0.9em;
        line-height: 1.1em;
        font-weight: bold;
    }

    .checkbox {
        width: 45px;
        padding-left: 0;
        border-right: double 4px #efdadf;  
    }

    .text {
        position: relative;
        padding-left: 17px;

        input {
            display: none;
            box-sizing: border-box;
            width: 96%;
            height: 2em;
            padding: 0 0.5em;
            margin: 0 2%;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        &.editable {
            margin: 0;
            padding: 0;
            span { display: none; }
            input { display: block; }
        }
    }

    .actions {
        width: 119px;
        text-align: center;
        font-size: 13px;
        font-weight: 100;
        border-left: solid 1px #e7ebea;
    }

    .actions-inner {
        display: none;
    }

    .icon {
        padding: 16px;
    }

    tr:last-child {
        td {
            height: 70px;
        }
    }
    tr:hover {
        td {
            background-color: #fcfed5;
        }
        .actions-inner {
            display: block;
        }
    }
}

.todo-add-list {
	text-align: center;
    .btn-primary {
        background-image: url(img/cloth.png);
    }
}
.copyright {
	margin-top: 3em;
	text-align: center;
	color: white;
}

.icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.icon.calendar { background-image: url(img/calendar.png); }
.icon.pencil { background-image: url(img/pencil.png); }
.icon.trash { background-image: url(img/trash.png); }
.icon.add { background-image: url(img/plus.png); }

.icon.drag-small { background-image: url(img/drag-small.png); }
.icon.pencil-small { background-image: url(img/pencil-small.png); }
.icon.trash-small { background-image: url(img/trash-small.png); }

@media only screen and (max-width: 700px) {
	.todo-widget {
		width: 95%;
	}
}
