@import "compass/reset";

@import "bootstrap";
@import "bootstrap-responsive";
@import "jquery_ui_no_theme";

body {
	background: orange;
}

h1, h2 { text-align: center; }

.todo-widget { margin: 2em 0; }
.todo-widget-header { background-color: blue; color: white; }
.todo-widget-add {
	width: 100%;
}
.todo-widget-list {
	background-color: silver;
	width: 100%;
}
.todo-add-list {
	text-align: center;
}
.copyright {
	margin-top: 3em;
	text-align: center;
	color: white;
}
